NAIVE BAYES - TITANIC DATASET

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
inputs=df.drop(['Survived'],axis=1)
target=df.Survived

In [7]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [8]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [12]:
inputs.sex=inputs.Sex.map({'male':1,'female':2})

In [13]:
dummies=pd.get_dummies(inputs.Sex)
dummies=dummies.astype(int)

In [14]:
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [15]:
inputs=pd.concat([inputs,dummies],axis=1)
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

FEMALES THAT SURVIVED OR NOT

In [16]:
inputs.drop(['Sex','male'],axis=1,inplace=True)
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [20]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(inputs,target,train_size=0.2)

In [38]:
len(X_train)

178

In [39]:
len(Y_train)

178

In [40]:
len(inputs)

891

In [41]:
len(Xtest)

713

In [42]:
len(Ytest)

713

In [43]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [44]:
model.fit(X_train,Y_train)

GaussianNB()

In [47]:
model.score(X_test,Y_test)

0.7699859747545582

In [48]:
Xtest[0:10]

     Pclass        Age     Fare  female
272       2  41.000000  19.5000       1
482       3  50.000000   8.0500       0
308       2  30.000000  24.0000       0
295       1  29.699118  27.7208       0
262       1  52.000000  79.6500       0
19        3  29.699118   7.2250       1
128       3  29.699118  22.3583       1
119       3   2.000000  31.2750       1
855       3  18.000000   9.3500       1
719       3  33.000000   7.7750       0

In [49]:
Y_test[0:10]

635    1
513    1
752    0
534    0
766    0
374    0
356    1
120    0
867    0
813    0
Name: Survived, dtype: int64

In [50]:
model.predict(Xtest[0:10])

array([1, 0, 0, 0, 1, 1, 1, 1, 1, 0], dtype=int64)

In [51]:
model.predict_proba(Xtest[0:10])

array([[0.10125887, 0.89874113],
       [0.97488549, 0.02511451],
       [0.8980736 , 0.1019264 ],
       [0.61270855, 0.38729145],
       [0.41042813, 0.58957187],
       [0.1982518 , 0.8017482 ],
       [0.18239695, 0.81760305],
       [0.171911  , 0.828089  ],
       [0.18532273, 0.81467727],
       [0.96271075, 0.03728925]])